body {
    background-color: #383838;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

#points {
    text-align: center;
    margin: 20px auto;
    width: 460px;
}


#playground {
    border: 5px solid #CCCCCC;
    width: 460px;
    height: 460px;
    margin: 0 auto;
    position: relative;
    background-color: black;
    overflow: hidden;
}


#snake {
    width: 100%;
    height: 100%;
    position: absolute;
}

.snake-part {
    width: 20px;
    height: 20px;
    background-color: #12f202;
    position: absolute;
    border-radius: 6px;
    border: 1px solid black;
}


#apple {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 6px;
    border: 1px solid black;
}


#buttons {
    margin: 10px auto;
    width: 460px;
}

#buttons button {
    width: 80px;
    height: 80px;
    margin: 5px;
    font-size: 1.5em;
    padding: 0;
}