body {
    background-color: #383838;
    color: white;
}


#title {
    text-align: center;
}

#points {
    text-align: center;
    margin-bottom: 10px;
}


#playground {
    border: 5px solid #CCCCCC;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background-color: black;
    overflow: hidden;
}


#snake {
    width: 100%;
    height: 100%;
    position: absolute;
}

.snake-part {
    width: 20px;
    height: 20px;
    background-color: #12f202;
    position: absolute;
    border-radius: 6px;
    border: 1px solid black;
}


#apple {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 6px;
    border: 1px solid black;
}


#buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons button {
    width: 65px;
    height: 65px;
    margin: 5px;
}