body {
    background-color: rgba(112, 172, 255, 0.2);
}

#title {
    text-align: center;
}

#playground {
    border: 5px solid black;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

#snake {
    width: 100%;
    height: 100%;
    position: absolute;
}

.snake-part {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
}

#ciganin {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
}

#ciganin-image {
    width: 100%;
    height: 100%;
    opacity: 0.2;
}